h2 {
    text-align: center;
}

#map {
    width: 90vw;
    height: 90vh;
    border: solid black 1px;
    margin: auto;
}

.snow-label {
    font-size: 1.25em;
    font-weight: bold;
    display: inline;
    padding: 0.3em;
    border: 1px solid gray;
    background-color: silver;
    text-shadow: 
        -1px -1px 0 white,
        -1px -1px 0 white,
        -1px -1px 0 white,
        -1px -1px 0 white;
}

.snow-100 {
    background-color: blue;
}

.snow-200 {
    background-color: red;
}